h2:nth-of-type(1) {
    color: orange;
}
#warehouse h2 {
    color: blue;
}
#allotment .fruits-list {
    color: grey;
}
.fruits-list {
    color: green;
}
.vegetables-list {
    color: red;
}
ul>li {
    font-weight: bold;
}
ol>li {
    font-weight: normal;
}
/*table*/
table {
    text-align: center;
}
thead {
    font-weight: bold;
}
tbody td:first-child {
    text-align: left;
    color: orange;
}
tbody td:nth-child(n+2) {
    background-color: green;
}
