span[class] {
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    color: #fff;
    display: none;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
input#red:checked ~ label[for="red"], input#green:checked ~ label[for="green"], input#blue:checked ~ label[for="blue"] {
    opacity: 1;
}
label[for] {
    text-decoration: underline;
    opacity: 0.5;
}
label[for="green"] {
    color: green;
}
label[for="red"] {
    color: red;
}
label[for="blue"] {
    color: blue;
}
input#red:checked ~ .red, input#green:checked ~ .green, input#blue:checked ~ .blue {
    display: inline-block;
}
input {
    display: none;
}
